
html{
	scroll-behavior: smooth;
	font-size: 16px;
}

body{
	font-size: 16px;
	background: url(bg-body.jpg) center center;
	background-size: cover;
} 

body h3{
	font-size: 24px;
	font-weight: 400;
	line-height: 25px;
}

nav{
	background-color: #fff;
}

table{
	border: 1px solid #e9e9e9;
    background-color: #fcfcfc;
    border-spacing: 0;
    letter-spacing: .5px;
    margin: 0 0 20px;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

table tr td{
	border: 1px solid #e9e9e9;
}

#phonenumber{
	margin-top: 15px;
	color: #1BBCD5;

	font-size: 20px;
	margin-left: 25px;
}
.button-request{
	border-radius: 10em; 
	font-size: 24px;
	padding-right: 100px; 
	padding-left: 100px;
	height: 80px; 
	padding-top: 12px; 
	max-width: 380px;
}

.man-scale2{
	margin-top: 10px;
}

.man-scale2:hover{
	transform: scale(1.07);
	transition: 1s;
}

.text-famaly{
	font-size: 20px; 
	line-height: 70%; 
	margin-top: 15px; 
	font-weight: 300;
}

.questions-famaly{
	font-weight: 400; 
	line-height: 82%;
}

.fs-35{
	font-size: 35px;
}

.st-a{
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.st-a:hover{
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.text-famaly2{
	font-size: 17px;
	letter-spacing: -0.5px; 
	line-height: 130%; 
	font-weight: 300;
}

.text-famaly3{
	font-size: 18px; 
	padding-top: 5px; 
	font-weight: 300;
}

.text-famaly4{
	margin-top: 70px; 
	font-size: 30px;
	font-weight: 300;
}

.text-famaly5{
	line-height: 120%; 
	font-size: 18px; 
	font-weight: 300;	
}

.text-famaly6{
	font-size: 30px; 
	font-weight: 300;
}

.text-famaly7{
	margin-top: 20px; 
	font-size: 18px; 
	font-weight: 300;
}

.text-famaly8{
	font-size: 18px; 
	font-weight: 300;
}

.comments-famaly{
	margin-top: 45px; 
	margin-bottom: 40px; 
	font-size: 30px; 
	font-weight: 300;
}

.mt-15{
	margin-top: 15px;
}

.mt-10{
	margin-top: 10px;
}

.mb-20{
	margin-bottom: 20px;
}

.camera-price{
	font-size: 22px; 
	margin-bottom: 25px;
}

.button-catalogue{
	border-radius: 10em; 
	font-size: 24px; 
	padding-right: 70px; 
	padding-left: 70px; 
	height: 80px; 
	padding-top: 0px;
	max-width: 380px;
}

.nav-icon i{
	padding-right: 10px;
}

#info{
	height: 90px;
	margin: 0 auto;
}

.bg_1_content, .bg_1_content2{
	text-align: center;
	font-size: 64px;
	color: white;
	padding-top: 70px;
	padding-bottom: 0px;
}

.bg_1_content2{
	margin-bottom: 20px;
}

.bg_1_content_text{
	text-align: center;
	font-size: 24px;
	color: white;
	line-height: 120%;
	margin-bottom: 30px;
}

.m-b-3{
	margin-bottom: 3px;
}

.nav-link{
	font-size: 18px;
}

img{
	max-width: 100%;
	height: auto;
}

#body .header {
	background: #35352f;
	box-shadow: 0 0 2px #141414;
	border: 1px solid #49473e;
	margin: 15px 0 0 0;
	padding: 4px;
	position: relative;
	-webkit-box-shadow: 0 0 2px #141414;
	-moz-box-shadow: 0 0 2px #141414;
}
#body .header img {
	background: #2b2b24;
	border: 1px solid #635d3b;
	display: block;
	margin: 0;
	padding: 7px;
}
#body .header .section {
	/*background: url(img/frame.png) no-repeat center center;*/
	height: 362px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 48px;
	top: 51px;
	width: 252px;
}
#body .header .section h1 {
	color: #dad2a2;
	font-family: Georgia, serif;
	font-size: 27px;
	font-weight: normal;
	line-height: 36px;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 56px 30px 15px;
	text-align: center;
}
#body .header .section p {
	color: #8ca39f;
	line-height: 30px;
	margin: 0;
	padding: 0 30px;
	text-align: center;
}
#body .header .section p a {
	color: #8ca39f;
}
#body .header .section p a:hover {
	color: #a8c3be;
}
#body .body {
	
	padding: 56px 0 0;
	overflow: hidden;
}
#body .body p {
	border-bottom: 1px solid #4f4f40;
	border-top: 1px solid #4f4f40;
	color: #b1ac91;

	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	line-height: 33px;
	letter-spacing: 1px;

	min-height: 132px;
	padding: 22px 0;
	text-align: center;
	width: 370px;
}
#body .body p a {
	color: #b1ac91;

	padding: 0;
	text-decoration: none;
}
#body .body p a:hover {
	color: #b1ac91;
}
#body .body img {
	padding: 0 15px;
}
#body .footer {

	padding: 60px 0 38px;
	overflow: hidden;
}
#body .footer > div {
	background: #35352f;
	box-shadow: 0 0 2px #141414;
	border: 1px solid #49473e;
	float: left;
	padding: 4px;
	-webkit-box-shadow: 0 0 2px #141414;
	-moz-box-shadow: 0 0 2px #141414;
	width: 450px;
}
#body .footer > div:first-child {
	margin: 0 180px 0 0;
}
#body .footer > div > div {
	background: #2b2b24;
	border: 1px solid #635d3b;

	overflow: hidden;
	padding: 4px;
}
#body .footer div div h2 {
	background: url(img/bg-heading.jpg) repeat top center;
	border-bottom: 1px solid #505c5a;
	color: #91a4a1;
	font-family: Georgia, serif;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 0.15em;
	
	padding: 15px 0 14px 15px;
	text-transform: uppercase;
}
#body .footer div div ul {
	float: left;

	padding: 0 20px 40px;
}
#body .footer div div ul li {
	background: url(img/border-dashed.png) repeat-x left top;
	list-style: none;
	padding: 14px 0;
}
#body .footer div div ul li:first-child {
	background: none;
}
#body .footer div div ul li a {
	background: url(img/bullet.png) no-repeat left center;
	color: #7a7a6d;
	display: block;
	line-height: 24px;
	
	padding: 0;
	text-decoration: none;
	text-indent: 15px;
	width: 180px;
}
#body .footer div div ul li a:hover {
	color: #99998e;
	text-decoration: underline;
}
#body .footer div div div {
	padding: 0 15px 15px 15px;
}
#body .footer div div div p {
	background: url(img/border-dashed.png) repeat-x left top;
	color: #7a7a6d;
	line-height: 24px;
	
	padding: 15px 0;
}
#body .footer div div div p a {
	color: #7a7a6d;
	text-decoration: none;
}
#body .footer div div div p a:hover {
	color: #99998e;
	text-decoration: underline;
}
#body .footer div div div p:first-child {
	background: none;
}

.regestration{
	font-size: 16px;
	color: grey;
}

.regestration:hover{
	color: grey;
}

.pt-15{
	padding-top: 15px;
}

.hv:hover{
	border: 4px solid #49473e;
}

.clw{
	color: white;
}

.clw a{
	color: white;
}

.personalhref {
	padding-top: 25px;
	padding-bottom: 25px;
	color: white;
	font-size: 20px;
	text-decoration: none;
	margin: 0px auto;
}

.personalhref:hover {
	color: white;
}

/*.group-item{
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
	font-size: 20px;
	text-decoration: none;
	border-bottom: 1px solid grey;
}

.group-item:hover{
	color: #211C05;
}

.last-item{
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
	font-size: 20px;
	text-decoration: none;
}

.last-item:hover{
	color: #211C05;
}*/

.turn{
	line-height: 50%;
}

.turn:hover{
	transform: scale(1.2);
	transition: 0.5s;
}

.man-scale{
	margin-top: 20px;
}

.man-scale:hover{
	transform: scale(1.1);
	transition: 1s;
}

.text-photo{
	font-size: 19px;
	font-weight: 300;
	line-height: 120%;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	width: 40px;
	height: 40px;
}

.carousel-indicators li{
	margin-bottom: 20px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-left: 10px; 
}

.style-slider img{
	max-width: 100%;
	height: auto;
}

.style-comments img{
	border-radius: 50%;
	width: 40%;
}

.style-icon-foter i{
	font-size: 30px;
	float: left;
	color: #1ABAD3;
}

.m-r-20{
	margin-right: 60px;
}

.style-icon-foter i:hover{
	color: #2E73FF;
}

#footer{
	border-top: 1px solid #E1E1E1;
}

.modal-button{
	padding-right: 100px;
	padding-left: 100px;
	margin: 5px auto 10px 20px;
}

.modal-text{
	font-size: 18px;
	line-height: 100%;
}

.info-color{
	background-color: #fff;
}

.icon-footer-font i{
	color: black;
	font-size: 28px;
}

.icon-footer-font i:hover{
	color: white;
}

.container a{
	text-decoration: none;
}

#navbarSupportedContent{
	margin-right: 0px;
}

#madia-request h1{
	font-size: 62px;
}

#choice {
	font-size: 30px;
	font-weight: 300;
	margin-top: 80px;
}

.button-buy{
	padding-left: 20px; 
	padding-right: 20px;    
	border-radius: 7px;
}

#cause{
	font-weight: 300;
	font-size: 19px;
	margin-top: -30px;
	margin-bottom: 40px;
}

.cause2{
	font-weight: 300;
	font-size: 17px;
	margin-top: 15px;
	margin-bottom: 30px;
}

#comments{
	margin-top: 5px;
}

#madia-button{
	margin-left: 60px; 
	margin-bottom: 20px; 
	border-radius: 10em; 
	width: 350px; 
	height: 67px; 
	padding-top: 0px;
	font-size: 24px;
	padding-left: 60px;
	padding-right: 60px;
}

#p-l-5{
	padding-left: 5px;
	font-size: 18px;
	font-weight: 300;
}

#f-w-300-p-l-35{
	font-weight: 300;
	padding-left: 35px;
}

.scrollup{
	background-color: #17A2B8;
	border-radius: 50%;
    bottom: 5px;
    padding: 5px;
    height: 55px;
    opacity: 1;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 55px;
    overflow: hidden;
}

.scrollup i, a{
	text-decoration: none;
	color: white;
	font-size: 30px;
}

#top{
	position: fixed;
	width: 50px;
	height: 50px;
	right: 20px;
	bottom: -50px;
	border-radius: 50%;
	background-color: #17A2B8;
	outline: 0!important;
	z-index: 8000;
	border: 2px solid #169EB3;	
	transition: .4s;
	
}

#top:after{
	content: '';
	width: 10px;
	height: 10px;
	border-top: 2px solid white;
	transform: rotate(45deg);
	border-left: 2px solid white;
	position: absolute;
	top: 4px; bottom: 0px;
	left: 0px; right: 0px;
	margin: auto;
}

#top.active{
	bottom: 10px;
}

#top i{
	color: white;
	font-size: 22px;
}

.contact-icon {
	color: white;
	float: left;
	font-size: 35px;
	margin: 0 25px 0 0;
}

.contact-icon-2 {
	float: left;
	font-size: 35px;
	margin: 0 25px 0 0;
	width: 40px;
}

.contact-icon:hover{
	margin-top: 7px;
	transition: .5s;
}

.contact-icon-2:hover{
	margin-top: 7px;
	transition: .5s;
}

.indent{
	margin: 50px 0px 0px 0px;
}

.media-body h6,h5{
	text-align: left;
	color: white;
}

.media-body a{
	text-align: left;
	color: white;
	font-size: 20px;
}

.media-body-2 {
	margin-left: 65px;
}

.media-body-2 h6,h5{
	text-align: left;
	color: black;
}

.media-body-2 a{
	text-align: left;
	color: black;
	font-size: 20px;
}

.contact-area{
	padding: 10px 0;
}

.contact-area i{
	font-size: 40px;
}

.contact-area-2 i{
	font-size: 40px;
	color: black;
}

.style-text{
	text-align: left;
	margin: 30px auto 20px auto; 
	font-size: 18px; 
	font-weight: 400;
}

.dropdown-item{
	font-size: 18px;
}

.style-h3-news{
	font-weight: 500;
	font-size: 25px;
}

.text-style2 a{
	color: black;
	font-size: 14px;
}

.text-style2 a:hover{
	color: #17A2B8;
}

.text-style2 li{
	padding-top: 15px;
}

.home-blog{
	background-image: url(../img/bg-call-me.png);
    background-position: center;
    background-size: cover;
    height: 400px; 
    margin-top: 10px;
}

.scheme-item{
	margin-top: 30px;
}

.scheme-item-img{
	margin: 0 auto;
	width: 98px;
	height: 99px;
}

.scheme-item-text {
	margin-top: 40px;
	font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    min-height: 40px;
}

.indent-img img{
	margin-top: 30px;
}

@media (max-width: 800px) {
	
	#madia-request h1{
		font-size: 40px;
	}

	#madia-request p{
		font-size: 20px;
		margin-bottom: 50px;
	}

	#madia-request button{
		font-size: 18px;
	}
}

@media (max-width: 800px) {
	
	#madia-request2 p{
		font-size: 20px;
		margin-top: 10px;
	}

	.button-request {
		padding-right: 60px;
		padding-left: 60px;
	}

}

@media (max-width: 400px) {
	
	#madia-request2 p{
		font-size: 18px;
		margin-top: 10px;
	}

	.button-request {
		padding-right: 60px;
		padding-left: 60px;
	}


}

@media (max-width: 767px){

	.home-blog{
		height: 400px;
	}

	.home-blog h2{
		font-size: 38px;
	}
}

@media (max-width: 477px){

	.home-blog{
		height: 420px;
	}

	.home-blog h2{
		font-size: 36px;
	}
}

@media (max-width: 331px){

	.home-blog{
		height: 450px;
	}

}

@media (max-width: 1440px) {
	
	#madia-request3 p{
		font-size: 20px;
		margin-top: 10px;
	}

}

@media (max-width: 800px) {
	
	#madia-request3 p{
		font-size: 20px;
		margin-top: 10px;
	}

}

@media (max-width: 370px) {
	
	#madia-request3 p{
		font-size: 18px;
		margin-top: 12px;
	}

}


@media (max-width: 361px) {
	
	.navbar-toggler {
		margin: 0 auto;
	}

}

@media (max-width: 420px) {

	#phonenumber{
		font-size: 20px;
		margin-left: -20px;
	}
}

@media (max-width: 420px) {

	#madia-button{
		width: 270px;
		margin-left: 0px;
	}
}


@media (max-width: 400px) {

	.carousel-indicators li{
		width: 10px;
		height: 10px;
	}

	.carousel-control-next-icon, .carousel-control-prev-icon{
		width: 25px;
		height: 25px;
	}
}
