<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form  method="post">
        <input type="text" name="name" placeholder="Введите логин"/>
        <input type="text" name="surname" placeholder="Введите фамилию"/>
        <input type="text" name="mail" placeholder="Введите почту"/>
        <input type="text" name="password" placeholder="Введите пароль"/>
        <button type="submit">добавить</button>
    </form>
</div>
</body>
</html>